.sectionThree {
  min-height: 1000px;
  background: rgba(0, 46, 59, 0.9) url("../../../assets/jerusalem.webp");
  background-blend-mode: darken;
  color: white;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  flex-direction: column;
  justify-content: center;
}

.sectionThree-title {
  margin: 2rem 0;
}

/* ***** bottom text *********** */

.sectionThree--concept--text {
  font-size: 18px;
  color: rgb(164, 155, 155);
}
