.nav--menu {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 100vh;
  z-index: 999;
}

.inside--menu {
  position: relative;
  background-color: rgba(199, 32, 199, 0.85);
  width: 50%;
  height: 100vh;
}
/* header*************** */

.menu--header {
  min-height: 10%;
  display: flex;
  align-items: center;
}

.menu--header--icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* left size cros */
.menu--header--icon {
  position: absolute;
  left: 10px;
}
.menu--header--icon--cros {
  font-size: 35px;
}

/* body************* */
.menu--body a {
  text-decoration: none;
  color: black;
}
.menu--body a:hover {
  text-decoration: underline;
}
.menu--body {
  margin: 35px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  border-block: 1px solid black;
}

.menu--body--left {
  padding: 25px 0 25px 45px;
  width: 50%;
  height: 100%;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  line-height: 45px;
  text-align: start;
  border-right: 1px solid black;
  color: black;
  cursor: pointer;
}
.menu--body--left h4:hover {
  text-decoration: underline;
}
.menu--body--right {
  padding: 25px 0 0 15px;
  width: 50%;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: start;
}

.menu--right--show {
  display: flex;
  flex-direction: column;
  line-height: 35px;
  text-align: start;
}

/* menu footer */
.menu--footer {
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu--footer--social--icons {
  display: flex;
  justify-content: center;

  align-items: center;
}

.menu--footer--contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.menu--footer .social--icon {
  margin: 5px;
  width: 45px;
  height: 45px;
  flex-wrap: nowrap;
  font-size: 45px;
  background-color: none;
}
.menu--footer--social--icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: rgb(199, 32, 199);
  width: 45px;
  height: 45px;
  font-size: 40px;
  margin: 5px;
}

/* media query */

@media screen and (max-width: 920px) {
  .inside--menu {
    width: 75%;
  }
}
@media screen and (max-width: 620px) {
  .inside--menu {
    width: 100%;
  }
}
