.nav--menu {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* height: 100%; */
  z-index: 1000;
}

.inside--menu {
  position: relative;
  background-color: rgb(199, 32, 199);
  filter: grayscale(10%);
  width: 50%;
  height: 100%;
}
/* header*************** */

.menu--header {
  min-height: 10%;
  display: flex;
  align-items: center;
}

.nextProjectsH3 {
  font-size: 32px;
  padding-bottom: 15px;
}

.menu--header--icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* left size cros */
.menu--header--icon {
  position: absolute;
  left: 10px;
}
.menu--header--icon--cros {
  font-size: 35px;
}

/* body************* */
.menu--body a {
  text-decoration: none;
  color: black;
}
.menu--body a:hover {
  text-decoration: underline;
}
.menu--body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 70%;
  border-block: 1px solid black;
}

.menu--body--left {
  padding: 25px 0 25px 45px;
  width: 50%;
  height: 100%;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  line-height: 45px;
  text-align: start;
  border-right: 1px solid black;
  color: black;
  cursor: pointer;
}
.menu--body--left h4:hover {
  text-decoration: underline;
}
.menu--body--right {
  padding: 25px 0 0 15px;
  width: 50%;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: start;
}

.menu--right--show {
  display: flex;
  flex-direction: column;
  line-height: 35px;
  text-align: start;
}

/* menu footer */
.menu--footer {
  min-height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  padding-bottom: 35px;
}

.menu--footer--social--icons {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu--footer--contact {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* .menu--footer .social--icon {
  margin: 5px;
  width: 45px;
  height: 45px;
  flex-wrap: nowrap;
  font-size: 45px;
  background-color: none;
} */
.menu--footer--social--icons a {
  display: flex;
  justify-content: center;
  align-items: center;

  color: rgb(199, 32, 199);
  width: 45px;
  height: 45px;
  font-size: 45px;
  margin: 5px;
}

/* media query */

@media screen and (max-width: 920px) {
  .inside--menu {
    width: 75%;
  }
}
@media screen and (max-width: 620px) {
  .inside--menu {
    width: 100%;
  }

  .menu--body {
    height: 50%;
  }
  .menu--footer {
    min-height: 40%;
  }

  .menu--body--left {
    padding: 25px 0 0 15px;
  }
}
@media screen and (max-width: 520px) {
  .menu--footer--social--icons {
    max-width: 150px;
    flex-wrap: wrap;
  }
}
