/* .carousel--item img {
  width: 250px;
} */

/* /////////////////////////////// */
.carousel {
  margin: 0 auto;
  overflow: hidden;
  /* max-width: 900px; */
  position: relative;
}

.carousel--inner {
  white-space: nowrap;
  transition: ease 1s;
}

.carousel--item {
  display: inline-block;
  width: 100%;
}

/* control left and right */

.carousel-control {
  background-color: rgba(0, 0, 0, 1);
  border: none;
  display: inline-block;
  position: absolute;
  height: 75px;
  width: 45px;
  top: 0%;
  color: #f3f3f3;
  cursor: pointer;
}

.left {
  left: 0px;
}
.right {
  right: 0px;
}

/* text */
.insideCarousol {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0px 15px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0);
}
.insideCarousol:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
