.sectionSixForm {
  margin-top: 8rem;
  padding: 4rem 0 0;
  background-color: rgb(199, 32, 199);
}

/* Text at top address kontakt */

.sectionSixForm--text--address {
  margin: 25px;
}
.sectionSixForm--text--address p:nth-child(5) {
  margin: 25px 0;
}

/* Form with inputs */
.sectionSixForm--form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sectionSixForm--inputs {
  display: flex;
  justify-content: center;
  gap: 25px;
  width: 100%;
}

.sectionSixForm--inputs input {
  margin: 15px 0;
  padding: 10px 5px;
  border: none;
  outline: none;
}

.sectionFour--input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.sectionFour--input input {
  width: 100%;
  height: 38px;
}

.input--icon {
  background-color: white;
  padding: 5px;
  height: 38px;
  width: 36px;
}

/* left */
.sectionSixForm--inputLeft {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.sectionSixForm--inputRight {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.sectionSixForm--inputRightDouble {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.sectionSixForm--inputRightDouble input {
  width: 100%;
}

/* right double button */
.sectionSixForm--inputRightDouble {
  width: 100%;
}
.sectionSixForm--inputRightDouble--value {
  width: 100%;
}
.sectionSixForm--inputRightDouble--variant {
  display: flex;
  align-items: center;
  width: 100%;
}

.sectionSixForm--inputRightDouble--variant--select {
  width: 100%;
  margin: 15px 0;
  padding: 10px 5px;
  border: none;
  outline: none;
}
/* date button */
::-webkit-calendar-picker-indicator {
  font-size: 26px;
  padding: 0;
}

.dateInput {
  max-height: 36px;
  font-family: Arial, Helvetica, sans-serif;
}

/* bottom */

.sectionSixForm--bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.sectionSixForm--bottom textarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(80% + 25px);
  margin: 15px 0;
  padding: 10px;
  outline: none;
  border: none;

  resize: none;
}
.sectionSixForm--bottom button {
  margin: 35px 0 75px;
}

/* Map and subscribe section */
.sectionSix--bottom--inputAndButton {
  display: flex;
  align-items: center;
}
.sectionSix--bottom--inputAndButton button {
  height: 40px;
  padding: 0;
  margin-left: 5px;
}

.sectionSix--bottom--inputAndButton input {
  height: 40px;
  width: 500px;
  border: none;
  outline: none;
  padding: 0 10px;
}
.sectionSix--mapAndSub {
  background-color: white;
}
.sectionSix--bottom--subscribe {
  min-height: 120px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 5px;
}

.sectionSix--bottom--subscribe h2 {
  color: white;
  text-transform: uppercase;
  font-weight: normal;
}

.sectionSix--bottom--inputAndButton .input--icon {
  height: 40px;
  width: 40px;

  padding-left: 7px;
}

.sectionSix--bottom--input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;

  gap: 35px;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

/* default checkbox */
.container input {
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.inputP {
  width: 75px;
}
.inputSpan {
  width: 50px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: flex;
  justify-content: center;
}

/* Media query */

@media screen and (max-width: 1000px) {
  .sectionSix--bottom--subscribe {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .sectionSix--bottom--inputAndButton {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .sectionSix--bottom--inputAndButton input {
    width: 250px;
  }
  .sectionSix--bottom--input {
    margin-bottom: 5px;
  }
}
