* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  text-align: center;
}

/* ********* Global style */

/* title */
/* h1 */
.click-away--title {
  font-size: 58px;
  text-transform: uppercase;
  font-weight: normal;
  padding: 0 5px;
}

/* h2 */
.click-away--Titleh2 {
  padding: 0 5px;
  font-size: 38px;
  letter-spacing: 1px;
}

/* buttons */
.click-away--button {
  padding: 15px 10px;
  min-width: 150px;
  background-color: rgb(199, 32, 199);
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  font-size: 18px;
  border-radius: 4px;
}

.black--button {
  background-color: black;
  color: rgb(199, 32, 199);
}

.click-away--button:hover {
  filter: brightness(125%);
}

.black--button:hover {
  background-color: rgb(15, 15, 15);
  filter: brightness(125%);
}

/* global icons *********** */
.global--icon {
  font-size: 30px;
  margin: 25px auto;
  color: rgb(199, 32, 199);
}

/* global responsivity for some style */
/* title */
@media screen and (max-width: 500px) {
  .click-away--title {
    font-size: 38px;
    text-transform: uppercase;
  }

  /* h2 */
  .click-away--Titleh2 {
    font-size: 24px;
  }
}
